$playfair: 'Playfair Display',
'cursive';
$raleway: 'Raleway',
sans-serif;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $raleway;
  font-size: 1rem;
  overflow-x: hidden;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.3s ease-out;

  &.fixed {
    background-color: rgba(38, 50, 70, 0.9);
  }

  &.float-header {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    margin-top: 0;
  }
}

.site-logo {

  &:link,
  &:visited {
    color: white;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.btn-menu {
  color: #fff;
  text-align: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  .svg-icon {
    fill: #ffffff;
  }
}

.container {
  max-width: 1200px;
}

nav {

  a {
    padding-bottom: 3px;
    transition: all 0.3s ease-in-out;

    &:link,
    &:visited {
      color: white;
    }

    &:hover,
    &:active {
      text-decoration: none;
      border-bottom: 1.5px #1275e4 solid;
    }
  }
}

.text-black {
  color: black;
}

.text-blue {
  color: #1275e4;
}

.link-blue {
  transition: all 0.3s ease;

  &:link,
  &:visited {
    color: black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: #1275e4;
  }

  &.active {

    &:link,
    &:visited {
      color: #1275e4;
    }
  }
}

.bg-blue {
  background-color: #1275e4 !important;
}

.w-85 {
  width: 85% !important;
}

.cursive {
  font-family: $playfair;
  font-style: italic;
}

.hero {
  background-image: url("../img/hero-back.webp");
  background-position: center center;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 500px 0px 100px 0px;
  color: #fff;

  .container {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
}

.about {

  .about-text {
    padding-left: 6.5rem;
    padding-right: 6.5rem;

    p {
      letter-spacing: 1px;

      &:last-child {
        letter-spacing: 0px;
      }
    }

    h2 {
      font-size: 3rem;
      line-height: 3.2rem;
      font-weight: 600;
    }
  }
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.progress {
  height: 15px;
}

.progress-bar {
  transition: width .6s ease !important;
}

.stats {
  background-image: url("../img/stats-back.webp");
  background-position: center center;
  background-size: cover;
}

.counter-count {
  font-size: 4rem;
  position: relative;
  color: #ffffff;
  text-align: center;
  line-height: 92px;
  width: 92px;
  height: 92px;
  font-family: 'Playfair Display';
  display: inline-block;
  margin-bottom: 0;
}

.counter-text {
  color: #fff;
  font-size: 1rem;
  line-height: 34px;
}

.services {

  .row {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }

  p {
    width: 85%;
    margin: auto;
    font-size: 0.95rem;
  }

  h4 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  i {
    width: 90px;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
    border-radius: 50%;
  }
}

.section-header {
  font-size: 3rem;
  font-weight: 600;
}

.box-shadow-hover {
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0px 10px 30px 0px rgba(79, 118, 157, 0.1);
  }
}

.build {
  background-image: url("../img/build-back.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    width: 85%;
  }

  .build-content-wrapper {
    background-color: rgba(24, 26, 32, 0.9);
    width: 75%;
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;

    span {
      font-style: italic;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 1.4rem;
  }

  i {
    font-size: 22px;
    width: 60px;
    height: 60px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
  }
}

.filter-project-item {
  width: 20%;
}

.project-inner {
  margin: 15px;

  img {
    max-width: 100%;
  }

  &:hover {
    .project-title {
      scale: 1 !important;
    }
  }
}

.project-title {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  background-color: #fff;
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: -5rem;
  transition: scale 0.3s ease;
  scale: 0;

  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
}

.testimonies {
  background-image: url("../img/testimony-back.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container {
    width: 80%;
    position: relative;
    z-index: 4;
  }
}

.bg-overlay {
  background-color: #000000;
  opacity: 0.66;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.fa-quote-left {
  color: rgba(255, 255, 255, 0.33);
  font-size: 52px;
  margin: 0 auto 50px;
}

.carousel-item {
  transition: 0.75s all ease;
}

.carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.33);
  border: 2px solid #a49fba;

  &:hover {
    background-color: rgba(255, 255, 255, 0.33) !important;
  }

  &:not(.active) {
    background-color: transparent;
  }
}

.whisper {
  color: #ffffff;
  font-family: "Playfair Display", Sans-serif;
  font-size: 24px;
  font-style: italic;
}

.name {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.testimonial-position {
  font-size: 13px;
  font-weight: 500;
}

.pricing-plan {
  margin-bottom: 30px;
  margin-right: 3%;
  box-shadow: 0px 11px 40px 0px rgba(79, 118, 157, 0.1);
  width: 30%;
  position: relative;
  overflow: hidden;

  &.middle .plan-header::before {
    content: 'Popular';
    position: absolute;
    top: 20px;
    right: -25px;
    transform: rotate(45deg);
    background: #1275E4;
    text-transform: uppercase;
    color: #fff;
    width: 110px;
    font-weight: 600;
    font-size: 12px;
  }
}

.plan-inner {
  box-shadow: 0 1px 1px #ebebeb;
  padding-bottom: 40px;
}

.plan-header {
  background-color: rgba(0, 0, 0, 0);
  padding: 3em 0;

  h4 {
    color: #111111 !important;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 15px;
  }

  .plan-price {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
    position: relative;
    z-index: 11;
    font-family: $playfair;

    span:first-of-type {
      vertical-align: middle;
    }

    span {
      font-size: 18px;
      margin: 0 2px;
      font-weight: 400;
      font-family: $raleway;
    }
  }
}

.plan-feature {
  color: #868990;
  padding: 8px;
}

.plan-btn {
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #111111;
  border: none;
  background-color: rgba(18, 117, 228, 0.1);
  border-radius: 3px;
  padding: 16px 35px 16px 35px;
  width: 75%;
  transition: all .3s ease-in-out;

  &:hover {
    color: #47425d;
    background-color: transparent;
  }
}

.link-webdev {

  &:hover,
  &:active {
    color: orange;
  }

  &.active {

    &:link,
    &:visited {
      color: orange;
    }
  }
}

.webdev {
  .plan-price {
    color: orange;
  }

  .middle {
    .plan-header::before {
      background: orange;
    }

    .plan-btn {
      background-color: orange;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.link-appdev {

  &:hover,
  &:active {
    color: #b9de1d;
  }

  &.active {

    &:link,
    &:visited {
      color: #b9de1d;
    }
  }
}

.appdev {
  .plan-price {
    color: #b9de1d;
  }

  .middle {
    .plan-header::before {
      background: #b9de1d;
    }

    .plan-btn {
      background-color: #b9de1d;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.link-smm {

  &:hover,
  &:active {
    color: #16a085;
  }

  &.active {

    &:link,
    &:visited {
      color: #16a085;
    }
  }
}

.smm {
  .plan-price {
    color: #16a085;
  }

  .middle {
    .plan-header::before {
      background: #16a085;
    }

    .plan-btn {
      background-color: #16a085;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.link-design {

  &:hover,
  &:active {
    color: #1B1464;
  }

  &.active {

    &:link,
    &:visited {
      color: #1B1464;
    }
  }
}

.design {
  .plan-price {
    color: #1B1464;
  }

  .middle {
    .plan-header::before {
      background: #1B1464;
    }

    .plan-btn {
      background-color: #1B1464;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.link-vedit {

  &:hover,
  &:active {
    color: #3100ff;
  }

  &.active {

    &:link,
    &:visited {
      color: #3100ff;
    }
  }
}

.vedit {
  .plan-price {
    color: #3100ff;
  }

  .middle {
    .plan-header::before {
      background: #3100ff;
    }

    .plan-btn {
      background-color: #3100ff;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.link-iot {

  &:hover,
  &:active {
    color: #d82c00;
  }

  &.active {

    &:link,
    &:visited {
      color: #d82c00;
    }
  }
}

.iot {
  .plan-price {
    color: #d82c00;
  }

  .middle {
    .plan-header::before {
      background: #d82c00;
    }

    .plan-btn {
      background-color: #d82c00;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.link-dataEntry {

  &:hover,
  &:active {
    color: #b01c51;
  }

  &.active {

    &:link,
    &:visited {
      color: #b01c51;
    }
  }
}

.dataEntry {
  .plan-price {
    color: #b01c51;
  }

  .middle {
    .plan-header::before {
      background: #b01c51;
    }

    .plan-btn {
      background-color: #b01c51;
      color: #fff;

      &:hover {
        color: #47425d;
        background-color: transparent;
      }
    }
  }
}

.go-top {
  position: fixed !important;
  right: 20px;
  bottom: -45px;
  color: #fff;
  display: block;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  width: 40px;
  height: 40px;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 9999;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #1275e4;

  &.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    bottom: 11px;
    border-radius: 50%;
  }

  .svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    line-height: 1;
    margin-top: 25%;
  }

  svg {
    fill: #fff;
  }

  &:hover {
    background-color: #fff;

    svg {
      fill: #1275e4;
    }
  }
}

.contact {
  padding-top: 0;

  iframe {
    width: 100%;
    height: 400px;
  }
}

.contact-details {
  font-family: $raleway;

  h2 {
    color: #111111;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.address {
  p {
    margin: 0;
  }

  i {
    font-size: 25px;
    margin-left: -5px;
  }
}

.form-control {
  padding: 15px 27px 15px 27px;
  color: #767676;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 0;
  height: 50px;
  // padding: 4px 20px;
  transition: all 0.3s ease-in-out;

  &:focus {
    box-shadow: none;
    border-color: #3788e2;
  }
}

.contact-form {
  textarea {
    height: 120px;
  }

  .submit-btn {
    background-color: #1275e4;
    border: 1px solid #1275e4;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 34px;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
      background-color: transparent;
      color: #1275e4;
    }
  }
}

footer {
  .border-top {
    background-color: #020111;
    color: #868990;
  }

  p {
    letter-spacing: 1px;
  }
}

@media(min-width: 1024px) {
  .site-header:not(.fixed) {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .btn-menu {
    display: none;
  }
}

@media(max-width: 1199px) {
  .filter-project-item {
    width: 25%;
  }
}

@media(max-width: 1024px) {
  .btn-menu {
    display: block;
  }

  nav a {

    &:hover,
    &:active {
      border: none;
    }
  }

  nav.mobile {
    margin: 0 auto;
    position: absolute;
    top: 35px;
    margin-top: 15px;
    background-color: #1c1c1c;
    z-index: 1000;

    ul {
      display: block !important;
      width: 100%;

      &.hidden {
        display: none !important;
      }

      li {
        margin: 0;
        position: relative;
        text-align: left;
        border-top: 1px solid #252525;
        cursor: pointer;

        a {
          display: block;
          text-decoration: none;
          padding: 13px 50px;
          color: #fff;
        }
      }
    }
  }

  .site-header {
    background-color: #000000;
    position: static;
    margin-top: 0 !important;

    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .about-text {
    p {
      width: 100% !important;
    }
  }

  .build {
    .container {
      width: 100%;
    }
  }

  .build-content-wrapper {
    width: 80% !important;

    i {
      margin-right: 1rem !important;
    }

    h4 {
      font-size: 1.2rem;
    }
  }
}

@media(max-width: 991px) {
  .filter-project-item {
    width: 33.3%;
  }
}

@media(max-width: 767px) {
  
  .hero {
    padding: 200px 0px 0px 0px;
  }

  .site-header {
    .row div {
      .site-logo {
        display: block;
        margin: auto;
        width: 117px;
        margin-bottom: 20px;
      }

      margin:auto;
    }
  }

  nav.mobile {
    top: 28px;
    width: 108%;
    right: -5%;
  }

  .hero {
    .container {
      padding-left: 2.5rem;
      padding-right: 1.5rem;
    }
  }

  .hero-title {
    font-size: 2rem;
  }

  .about {
    .about-text {
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      h2 {
        font-size: 2rem;
      }
    }
  }

  .section-header {
    font-size: 2rem;
  }

  .build .container {
    padding: 0 !important;
  }

  .build-content-wrapper {
    width: 100% !important;
    padding: 30px;

    h2 {
      text-align: center;
      font-size: 1.8rem;
    }

    p {
      text-align: center;
    }
  }

  .filter-project-item {
    width: 50%;
  }

  .pricing-plan {
    width: 47%;
  }

  .contact-details a {
    display: block !important;
    width: 60%;
  }

  .contact-form {
    margin-top: 2rem;
  }
}

@media(max-width: 479px) {
  .filter-project-item {
    width: 100%;
  }

  .pricing-plan {
    width: 100%;
  }

  .contact-details a {
    width: 80%;
  }
}